name: Build & Publish Packages

on:
    push:
        tags:
            - 'v*'
        branches:
            - master
        paths:
            - "packages/GraphCanvas/**"
            - ".github/workflows/build-packages.yaml"

    workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: packages/GraphCanvas
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9

            - name: Setup Node.js with NPM Registry
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install Dependencies
              run: pnpm install
              
            - name: Build
              run: pnpm run build
              
            - name: Publish
              run: pnpm publish --access public