name: Reusable Render Deploy

on:
    workflow_call:
        inputs:
            service_id:
                description: "The id of the service to deploy"
                required: true
                type: string
            image_url:
                description: "The url of the image to deploy"
                required: false
                default: "latest"
                type: string
            environment_variables:
                description: "Multiline string of KEY=VALUE pairs for environment variables"
                required: false
                default: ""
                type: string
        secrets:
            RENDER_API_KEY:
                required: true
        outputs:
            deployment_id:
                description: "The id of the deployment"
                value: ${{ jobs.deploy.outputs.deployment_id }}

env:
    RENDER_API_SERVICES_URL: https://api.render.com/v1/services

jobs:
    deploy:
        name: Deploy to Render
        runs-on: ubuntu-latest

        steps:
            - name: Update environment variables
              if: ${{ inputs.environment_variables != '' }}
              run: |
                  curl -X POST ${{ env.RENDER_API_SERVICES_URL }}/${{ inputs.service_id }}/env-vars \ 
                  -H "Content-Type: application/json" \ 
                  -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \ 
                  -d "${{ inputs.environment_variables }}"

            - name: Deploy
              id: deploy-step
              run: |
                  if [ -n "${{ inputs.image_url }}" ]; then
                    DATA="{\"imageUrl\": \"${{ inputs.image_url }}\"}"
                  else
                    DATA="{}"
                  fi
                  
                  curl -X POST ${{ env.RENDER_API_SERVICES_URL }}/${{ inputs.service_id }}/deploys \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
                  -d "$DATA"
