name: Reusable Docker Build

on:
    workflow_call:
        inputs:
            image_name:
                description: "The name of the image to build"
                required: true
                type: string
            context:
                description: "The build context"
                required: true
                type: string
            dockerfile:
                description: "Path to the Dockerfile"
                required: false
                default: "Dockerfile"
                type: string
        secrets:
            DOCKER_LOGIN_TOKEN:
                required: true
        outputs:
            image_url:
                description: "The URL of the built image"
                value: ${{ jobs.build.outputs.image_url }}

env:
    REGISTRY_URL: docker.io

jobs:
    build:
        name: Build Docker Image
        runs-on: ubuntu-latest
        outputs:
            image_url: ${{ steps.built_image_url.outputs.url }}

        steps:
            - uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Docker Login
              uses: docker/login-action@v3.4.0
              with:
                  username: ${{ vars.DOCKER_LOGIN_USER }}
                  password: ${{ secrets.DOCKER_LOGIN_TOKEN }}

            - name: Build and push container image to registry
              uses: docker/build-push-action@v3
              with:
                  push: true
                  tags: |
                      ${{ vars.DOCKER_LOGIN_USER }}/${{ inputs.image_name }}:${{ github.sha }}
                      ${{ vars.DOCKER_LOGIN_USER }}/${{ inputs.image_name }}:latest
                  file: ${{ inputs.context }}/${{ inputs.dockerfile }}
                  context: ${{ inputs.context }}

            - name: Get built image URL
              id: built_image_url
              run: |
                  echo "url=${{ env.REGISTRY_URL }}/${{ vars.DOCKER_LOGIN_USER }}/${{ inputs.image_name }}:${{ github.sha }}" >> $GITHUB_OUTPUT
